<footer class="d-md-none">
    <a href="{% url 'dashboard' %}" class="{% if request.path == '/' %}active{% endif %}">
        <i class="fa-solid fa-house"></i>
        <span style="font-size: 10px;">Home</span>
    </a>
    <a href="{% url 'members_list' %}" class="{% if 'members' in request.path %}active{% endif %}">
        <i class="fa-solid fa-users"></i>
        <span style="font-size: 10px;">Clients</span>
    </a>
    
    <a href="#" class="nav-plus-btn">
        <div class="plus-icon">
            <i class="fa-solid fa-plus"></i>
        </div>
    </a>

    <a class="{% if 'inventaire' in request.path %}active{% endif %}" href="{% url 'inventory' %}">
        <i class="fa-solid fa-layer-group"></i> <span>outils</span>
    </a>

    <a href="/admin">
        <i class="fa-solid fa-gears"></i>
        <span style="font-size: 10px;">Admin</span>
    </a>
</footer>