<header class="d-md-none ">
    <div class="container-fluid d-flex justify-content-end align-items-center">

        
        <div class="dropdown">
            <a href="#" data-bs-toggle="dropdown" class="text-dark">
                <i class="fas fa-user-circle fa-2x"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end shadow border-0">
                <li><a class="dropdown-item" href="#"><i class="fa fa-user me-2"></i> Profil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#logoutModal" href="#"><i class="fa fa-sign-out-alt me-2"></i> Déconnexion</a></li>
            </ul>
        </div>
    </div>
</header>